header {
    margin-top: 56px;
}

.shipArrangement {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-item:hover{
    color:brown !important;
}

.dropdown-item:active{
    background-color: whitesmoke !important;
}
